@font-face {
  font-family: "Figtree-regular";
  src: url("resources/fonts/Figtree-Regular.ttf");
}

/* css per desktop / tablet screens */
@media only screen and (min-width: 780px) {
  .contenitore-main {
    max-width: 780px;
  }

  /* .navbar {
    z-index: 1 !important;
  } */

  /* .nav-categorie-header {
    min-height: 200px;
  } */

  /* logo inside the menu for the desktop version */
}

/* css per mobile */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  /* transition for dark/light mode */
  transition: color 0.3s ease-in, background-color 0.3s ease-in,
    border 0.3s ease-in, border-bottom 0.3s ease-in,
    scrollbar-color 0.3s ease-in, border-width 0ms ease;
}

/* for light mode */
:root {
  --primary: #fff;
  --secondary: #404040;
  --tertiary: #cdcdcdb0;
  --quaternary: #202020;
  --quinary: #253843;
  --senary: #00eeff;
  --border1: 1px solid var(--tertiary);
  --gradientPink: linear-gradient(to top, #dad4fc 0%, #f3e7e9 100%);
  --left-right-standard-padding: 20px;
}

/* light mode */
/* @media (prefers-color-scheme: light) {
} */

/* Hide scrollbar for browsers */
/* Chrome Safari Opera */
/* IE and Edge */
/* Firefox */
html ::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}

body {
  font-family: "Figtree-regular", sans-serif;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #dad4fc 0%, #f3e7e9 100%);
  width: 100% !important;
  overflow-x: hidden;
}

/* dark mode inizio */
body.dark-mode {
  --primary: #2e2e2e;
  --secondary: #f7f7f7;
  --tertiary: #cdcdcdb0;
  --quaternary: #fdfdfd;
  --quinary: #cdcdcdb0;
}
/* dark mode fine */

/* dark/light mode button */
.mode-toggle-btn {
  /* Modifiche da Nuove note 11.12.2023  */
  display: none;

  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  border: none;
  /* border-radius: 50%; */
  /* background-color: var(--primary); */
  /* color: var(--secondary); */
  background-color: var(--secondary);
  /* color: red; */
  /* background-image: linear-gradient(90deg, white, white 50%, #303030 50%);
  box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, 0.); */
  /* transition: background-color 1s ease-in-out; */
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.no-overflow {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.navbar-brand {
  flex: 0;
  font-size: 1.6rem;
  font-weight: 700;
  white-space: inherit;
  color: var(--quaternary);
  visibility: hidden;
  width: 46px;
  height: 36px;
}

.navbar-logo {
  flex-shrink: 10;
}

.navbar-logo.fadein-logo {
  opacity: 0;
  transition: opacity 1300ms ease-in-out;
}

.navbar-logo.fadein-logo.fadein {
  opacity: 1;
  transition-delay: 600ms;
}

.navbar-logo img {
  max-width: 100%;
  max-height: 200px;
}

.navbar-logo.fadein-logo img {
  max-width: 200px;
  max-height: 200px;
}

.nav-categorie-btn,
.overlay-close-btn {
  flex: 0;
  padding: 0.25rem 0 0.25rem 0.75rem;
  z-index: 1000;
  transition: transform 1s cubic-bezier(0.22, 1, 0.22, 1);
  padding: 10px;
  cursor: pointer;
}

.nav-categorie-btn.open {
  /* Modifiche da Nuove note 11.12.2023 
  transform: rotate(-135deg) translateZ(0px);
  transform-origin: center;  */
  visibility: hidden;
  animation: fadeOut 300ms ease-out forwards;
}

.nav-categorie-btn span.menu-line,
.overlay-close-btn span.menu-line {
  width: 26px;
  height: 2px;
  background-color: var(--quaternary);
  position: relative;
  display: block;
  margin-bottom: 6px;
}

.menu-line:first-child {
  top: 7px;
}

.menu-line:nth-child(2) {
  transform: rotate(90deg);
}

.navbar {
  /* z-index: 200; */
  min-height: 200px;
  background-color: var(--primary);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;
  padding: 10px 35px;
  position: relative;
  justify-content: space-between;
  box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, 0.1);
}

nav#nav-categorie {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  z-index: 100;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 0;
  transform: translateX(100%);
  border-left: var(--border1);
}

nav#nav-categorie.open {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateX(0%);
}

nav#nav-categorie a.close-menu {
  position: absolute;
  right: 35px;
  top: 35px;
  color: var(--primary);
}

#nav-categorie .nav-categorie-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 180px;
  padding-top: 20px;
}

#nav-categorie .linguaggi {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

#nav-categorie .linguaggi .lang-btn {
  display: inline-block;
  border-width: 0;
  margin-right: 10px;
  font-weight: 700;
}

#nav-categorie .linguaggi .lang-btn a {
  padding: 10px 18px;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  border-radius: 10px;
  font-size: 1rem;
  opacity: 0.3;
}

#nav-categorie .nav-categorie-body {
  /* flex: 100; */
  flex-basis: 100%;
  width: 100%;
  /* max-width: 100%; */
  max-height: 100%;
  overflow-y: auto;
  /* Modifiche da Nuove note 11.12.2023  */
  /* position: absolute; */
  /* top: 120px;
  bottom: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-categorie .inner {
  /* justify-content: center;
  align-items: center; */
  width: 75%;
}

#nav-categorie .nav-categorie-body ul {
  padding: 0;
  margin: 0;
  display: block;
}
#nav-categorie .nav-categorie-body li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  overflow: hidden;
}

#nav-categorie .nav-categorie-body li:not(:last-child) {
  /* border-bottom: 2px solid var(--tertiary); */
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 255, 255, 0),
    var(--tertiary),
    rgba(255, 255, 255, 0)
  );
  border-image-slice: 1;
}

#nav-categorie .nav-categorie-body li a {
  display: block;
  padding: 15px 0;
  line-height: 1.25rem;
}
#nav-categorie .nav-categorie-body li a.selezionato {
  font-weight: 700;
  transform: scale(1.1);
}

#nav-categorie .linguaggi .lang-btn.corrente a {
  border: 1px solid var(--primary);
  color: var(--primary);
  opacity: 1;
}
#nav-categorie .nav-categorie-footer {
  display: flex;
  justify-content: center;
  padding: 55px 35px;
  width: 100%;
}
.logo {
  margin: auto;
}
#nav-categorie .nav-categorie-footer .logo img {
  max-height: 75px;
}

#nav-categorie .nav-categorie-body ul li a {
  color: var(--secondary);
}

#nav-categorie .linguaggi .lang-btn.corrente a {
  border-color: var(--secondary);
  color: var(--secondary);
}

.contenitore-main {
  position: relative;
  margin: 0 auto;
  background-color: var(--primary);
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
  border-left: var(--border1);
  border-right: var(--border1);
}

/* Categorie */
.nav-sottocategorie {
  margin-top: 16px;
  /* Modifiche da Nuove note 11.12.2023  */
  /* border-bottom: 3px solid var(--tertiary); */
}
.nav-sottocategorie .contenitore-sottocategorie {
  padding-left: var(--left-right-standard-padding);
  padding-right: var(--left-right-standard-padding);
}

#tab-personalizzato {
  scrollbar-color: var(--tertiary) var(--primary);
  scrollbar-width: thin;
}

#tab-personalizzato::-webkit-scrollbar {
  height: 5px;
}

/* Track */
#tab-personalizzato::-webkit-scrollbar-track {
  background-color: var(--primary);
}

/* Handle */
#tab-personalizzato::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
}

/* Handle on hover */
#tab-personalizzato::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

#tab-personalizzato {
  width: 100%;
  margin-bottom: -3px;
  display: flex;
}
.tabbable.nav-pills {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}
.nav-sottocategoria {
  margin: 0.5rem 0.7rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0;
  color: var(--tertiary);
  font-weight: 700;
}

.nav-sottocategoria.selezionato,
.nav-pills .show > .nav-sottocategoria {
  background-color: transparent;
  color: var(--secondary);
  margin-bottom: 6px;
  border-bottom: 3px solid var(--quaternary);
}

/* Fine categorie*/

.contenitore-sito {
  position: relative;
  right: 0%;
  transition: all 0.5s ease;
  min-height: 100%;
}
.contenitore-sito .overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 100%;
  width: 0%;
  z-index: 99;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.contenitore-sito .overlay.selezionato {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  opacity: 1;
}
.contenitore-piatti {
  display: flex;
  padding: var(--left-right-standard-padding);
}

.sottocategoria-pannello {
  width: 100%;
  display: none;
}

.sottocategoria-pannello.selezionato {
  display: block;
  animation: fade 300ms ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.riga {
  display: -ms-flexbox;
  display: inline-block;
}

.piatto {
  margin-bottom: 30px;
}

.piatto .contenitore-immagine {
  margin-bottom: 30px;
  display: block;
}

.piatto .contenitore-immagine img {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.piatto h2.break {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 60px;
}

.piatto h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 0.5rem;
  display: inline;
}

.piatto p {
  color: var(--quinary);
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  line-height: 1.2rem;
}

.piatto p.prezzo-piatto span.valuta {
  text-transform: uppercase;
}

.piatto p span:after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
  color: var(--secondary);
}

.piatto p span:last-child:after {
  content: "";
  margin-left: 0;
  margin-right: 0;
}

.piatto .allergeni-info {
  display: inline;
  position: absolute;
  right: 0px;
}

.allergeni-info a {
  color: #cdcdcd;
  cursor: pointer;
}

.allergeni-info a:hover {
  color: var(--secondary);
}

.piatto .allergeni-info .fas {
  font-size: 1.4rem;
}

.contenitore-immagine {
  position: relative;
  padding-bottom: calc(100% / 1.5);
  height: 0;
}

.contenuto-immagine {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.piatto .contenitore-testo {
  position: relative;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  padding-right: 36px;
}
/* Fine contenuto */

/* overlay inizio */
.overlay-contenuto {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 500px;
  max-width: 80%;
  margin: 1.75rem auto;
  pointer-events: auto;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  background-color: var(--primary);
}

.overlay-header {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #f7f7f7;
  border: none;
  /* border-bottom: 1px solid #000; */
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.overlay-allergeni {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.overlay-allergeni.show {
  z-index: 1001;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s linear;
}

.overlay-contenuto {
  position: relative;
  transform: translate(0, -50px);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  z-index: 1005;
}

.overlay-contenuto.fadeIn {
  transform: translate(0, 0);
}

.overlay-close-btn {
  transform: rotate(45deg);
}

.overlay-body {
  padding: 0rem 1.8rem 1.8rem 1.8rem;
  /* ignore light/dark mode */
  background-color: #f7f7f7;
  border-bottom-left-radius: calc(0.3rem - 1px);
  border-bottom-right-radius: calc(0.3rem - 1px);
}

/* icone allergeni old, flex */
/* .overlay-body ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-basis: 21%;
} */

/* icone allergeni */
.overlay-body ul {
  display: grid;
  padding: 8px 16px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  align-items: space-evenly;
}

.overlay-body ul li {
  filter: opacity(0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  list-style: none;
  display: inline;
  float: left;
  padding: 16px;
}

.overlay-body ul li.on {
  filter: opacity(1);
}

.overlay-body ul li .titolo {
  font-size: x-small;
  text-align: center;
}
/* overlay fine */

/* dev todo check dimensions*/
/* div.contenitore-piatti {
  border: 3px solid red;
}
div.sottocategoria-pannello {
  border: 2px solid greenyellow;
}
.piatto {
  border: 1px solid lightskyblue;
} */

/* button default styling */
button {
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  border: none;
  margin: 3px;
  border-radius: 0px;
  cursor: pointer;
  /* border-bottom: 3px solid var(--quaternary); */
  /* background-color: transparent; */
  border-bottom: 3px solid #94ff6a;
  background-color: #94ff6a;
  transition: 300ms ease-out;
}
button:hover {
  filter: saturate(3) brightness(0.8);
}

/* dev todo remove */
.refresh-btn {
  display: none;
}
